<div class='container text-center'>
<h2 class="text-4xl font-extrabold dark:text-white mb-4">Encuesta Inicial de Microinsulto</h2>

    Pregunta 1: <%= @encuesta.pregunta1 ? "Correcta" : "Incorrecta" %>
    
    Pregunta 2: <%= @encuesta.pregunta1 ? "Correcta" : "Incorrecta" %>
    Pregunta 3: <%= @encuesta.pregunta1 ? "Correcta" : "Incorrecta" %>
    Pregunta 4: <%= @encuesta.pregunta1 ? "Correcta" : "Incorrecta" %>
    Pregunta 5: <%= @encuesta.pregunta1 ? "Correcta" : "Incorrecta" %>
    Pregunta 6: <%= @encuesta.pregunta1 ? "Correcta" : "Incorrecta" %>
    Pregunta 7: <%= @encuesta.pregunta1 ? "Correcta" : "Incorrecta" %>


    Elige la definición más adecuada para Microagresión

    a) Una microagresión es un comentario o acción que se dirige negativamente a un grupo de personas marginado.
    b) Una microagresión es un comentario accidental que se dirige a personas físicamente diferentes con mala intención.
    c) Acción violenta que realiza una persona con la intención de causar un daño a otra.

    Pregunta 2

    <%= @encuesta.pregunta2 ? "Correcta" : "Incorrecta" %>

    ¿Cuál de las siguientes alternativas es un tipo de microagresión?

    a) Microinsulto
    b) Microinvalidación 
    c) Microasalto 
    d) Microdiscriminación 
    e) Solo a, b y c 
    f) a, b, c y d 

    Pregunta 3

    <%= @encuesta.pregunta3 ? "Correcta" : "Incorrecta" %>

    ¿Que es un microinsulto?

    a) Es un comentario o acción que es discriminatoria accidentalmente.
    b) Es una acción agresiva que insulta a otra persona. 
    c) Es un comentario o acción que discrimina. 

    Pregunta 4

    <%= @encuesta.pregunta4 ? "Correcta" : "Incorrecta" %>

    Un ejemplo de microagresión puede ser:

    a) Decir “Mi jefa está loca”.
    b) Decirle a alguien “Tu nombre es tan difícil de pronunciar”. 
    c) Interrumpir a alguien mientras habla. 
    d) Decirle a una persona delgada que debería comer más. 
    e) Todas 
    f) Solo a, b y c 
                


    Pregunta 5

    <%= @encuesta.pregunta5 ? "Correcta" : "Incorrecta" %>

    Una definición adecuada del tipo Microasalto es


    a) Es un comentario o acción que es discriminatoria accidentalmente.
    b) Comportamiento intencional y discriminatorio sin pretensión de ofensa. 
    c) Menospreciar o invalidar experiencias ajenas. 
    d) Decirle a una persona delgada que debería comer más. 
    e) Acción violenta que realiza una persona con la intención de causar un daño a otra. 
            


    Pregunta 6

    <%= @encuesta.pregunta6 ? "Correcta" : "Incorrecta" %>

    Una definición adecuada para Microinvalidación es

    a) Hacer que una persona pierda valor ante otros.
    b) Menospreciar o invalidar experiencias ajenas. 
    c) Es un comentario o acción que es discriminatoria accidentalmente. 
    d) Comportamiento intencional y discriminatorio sin pretensión de ofensa. 


</div>