<div class='container text-center'>
    <h2 class="text-4xl font-extrabold dark:text-white mb-4">Encuesta Final de Microasalto</h2>

<%= form_for :microasalto_encuesta_final, url: user_microasalto_encuesta_finals_path(current_user.id), method: :post do |f| %>
    <!-- multistep form -->
    <div id="form-microasalto-final">
        <!-- progressbar -->
        <ul id="progressbar-microasalto-final">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Instrucciones</h2>
            <div class="mb-5">
                Lee atentamente las preguntas y responde según lo que consideres correcto.<br/>
                <b>[Confidencialidad]</b> Recuerda que los resultados se mostrarán de forma general y no en detalle.</b>             </div>
            <input type="button" name="next" class="next-microasalto-final" value="Siguiente" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Pregunta 1</h2>
            <h3 class="fs-subtitle">De acuerdo a la simulación, ¿qué crees que se pudo evidenciar?</h3>

            <div class ="field-buttons">
                <div class="radio-button"> <%= f.radio_button :pregunta1, true %> a) Comentario o acción discriminatoria de manera sutil.</div>
                <div class="radio-button"> <%= f.radio_button :pregunta1, false %> b) Comportamiento intencional y discriminatorio sin pretensión de ofensa. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta1, false %> c) Minimización de experiencias ajenas. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta1, false %> d) No hubo ningún comentario o acción inadecuada. </div>
            </div> 
    
            <input type="button" name="previous" class="previous-microasalto-final" value="Atrás" />
            <input type="button" name="next" class="next-microasalto-final" value="Siguiente" />
        </fieldset>
        <fieldset>

            <h2 class="fs-title">Pregunta 2</h2>
            <h3 class="fs-subtitle"> Teniendo bajo consideración lo siguiente:</h3>
            <b class="text-left">
            I. Comportamientos intencionales y discriminatorios sin pretensión de ofensa.<br/>
            II. Menospreciar o invalidar experiencias ajenas.<br/>
            III. Comentarios o acciones que son discriminatorias accidentalmente.<br/>
            En la/s simulación/es realizada/s recientemente, cuál definición describe de mejor manera lo que usted experimentó:
            </b><br/>
            <div class ="field-buttons">
                <div class="radio-button"><%= f.radio_button :pregunta2, false %>Solo I</div>
                <div class="radio-button"><%= f.radio_button :pregunta2, false %>Solo II</div>
                <div class="radio-button"><%= f.radio_button :pregunta2, true %>Solo III</div>
                <div class="radio-button"><%= f.radio_button :pregunta2, false %>I y II</div>
                <div class="radio-button"><%= f.radio_button :pregunta2, false %>I y III</div>
                <div class="radio-button"><%= f.radio_button :pregunta2, false %>Ninguna de las anteriores</div>
            </div> 

            <input type="button" name="previous" class="previous-microasalto-final" value="Atrás" />
            <input type="button" name="next" class="next-microasalto-final" value="Siguiente" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Pregunta 3</h2>
            <h3 class="fs-subtitle">¿Quién consideras que fue la persona agredida la/s simulación/es realizada/s?</h3>

            
            <div class ="field-buttons">
                <b class="mb-3">Víctima:</b>
                <div class="radio-button"> <%= f.radio_button :pregunta3, true %> a) Yo, fui la víctima de la simulación.</div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> b) Pedro, el compañero que llega a conversar a la cocina/cafetería. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> c) Marcela, la compañera de trabajo que estaba en la mesa. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> d) Nadie fue víctima en la simulación. </div>

                <b class="mb-3">Victimario:</b>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> a) Denisse,  quien guía y selecciona a la persona para el evento.</div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, true %> b) Joaquín, el experto del tema del evento. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> c) Yo, fui la víctima de la simulación. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> d) Patricia, la jefa de la oficina. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> e) Nadie fue víctima en la simulación. </div>

                <b class="mb-3">Testigo:</b>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> a) Yo, fui la víctima de la simulación.</div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, true %> b) Luis, el compañero nuevo presentado por el jefe </div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> c) Leonardo, el jefe de la oficina. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> d) Laura, quien pide los documentos. </div>
                <div class="radio-button"> <%= f.radio_button :pregunta3, false %> e) Nadie fue víctima en la simulación. </div>
            </div> 

            <input type="button" name="previous" class="previous-microasalto-final" value="Atrás" />
            <input type="button" name="next" class="next-microasalto-final" value="Siguiente" />
    </fieldset>
        <fieldset>
            <h2 class="fs-title">Pregunta 4</h2>
            <h3 class="fs-subtitle">¿Alguna vez has visto en lugar de trabajo una situación similar?</h3>
            <div class ="field-buttons">
                <div class="radio-button"> <%= f.radio_button :pregunta4, true %> Si</div>
                <div class="radio-button"> <%= f.radio_button :pregunta4, true %> No</div>
                <div class="radio-button"> <%= f.radio_button :pregunta4, true %> Quizás</div>
            </div> 
            <input type="button" name="previous" class="previous-microasalto-final" value="Atrás" />
            <%= f.submit "Enviar", class: "next-microasalto-final"%>
        </fieldset>
    </div>
<% end %>

</div>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<!-- jQuery easing plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>

